html,
body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

#root {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}

.fighters {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 1;
   flex-wrap: wrap;
   padding: 0 15px;
}

.fighter {
   display: flex;
   flex-direction: column;
   padding: 20px;
}

.fighter:hover {
   box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
   cursor: pointer;
}

.name {
   align-self: center;
   font-size: 21px;
   margin-top: 20px;
}

.fighter-image {
   height: 260px;
}

#loading-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
   background: rgba(255, 255, 255, 0.7);
   visibility: hidden;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.75);
}

.modal {
   width: 500px;
   height: 500px;
   background-color: #ffffff;
   padding: 10px;
}

.submit {
   width: 200px;
   height: 40px;
   text-align: center;
   line-height: 38px;
   text-transform: lowercase;
   font-size: 16px;
   cursor: pointer;
   border: 2px solid #000;
   border-radius: 5px;
   background-color: transparent;
}

.fight {
   width: 100px;
   height: 20px;
}